<style>
.iepadding111{padding-bottom:17px;}
.kelsoftballstats            {clear:both;border: 1px solid #000;border-collapse:collapse;}
.kelsoftballstats td         {line-height: 14px;text-align:center;font:normal 12px Verdana, Arial, Helvetica, sans-serif;border-collapse:collapse;border: 1px solid #000;padding: 0 3px; color: #000000; background: #FFCCCC;}
.kelsoftballstats td.gray    {line-height: 14px;text-align:center;font:normal 12px Verdana, Arial, Helvetica, sans-serif;border-collapse:collapse;border: 1px solid #000;padding: 0 3px; color: #404040; background: #404040;}
.kelsoftballstats td.tot     {line-height: 14px;text-align:center;font:normal 12px Verdana, Arial, Helvetica, sans-serif;border-collapse:collapse;border: 1px solid #000;padding: 0 3px; color: #FFFFFF; background: #800000;}
.kelsoftballstats th         {line-height: 14px;text-align:center;font:bold   11px Verdana, Arial, Helvetica, sans-serif;border-collapse:collapse;border: 1px solid #000;padding: 0 3px; line-height: 14px; color: #FFFFFF; background: #800000;}
.kelsoftballstats th.subhead {text-align:right;font:bold 11px Verdana, Arial, Helvetica, sans-serif;line-height: 14px;text-transform:capitalize; color: #000000; background: #800000;}
.kelsoftballstats th.subhead a {text-decoration: none; color: #000000;}
.kelsoftballstats th.subhead a:visited {text-decoration: none; color: #000000;}
.kelsoftballstats th.subhead a:hover {text-decoration: none; color: #FFFFFF;}
.kelsoftballcharts th {line-height: 14px;text-align:center;font:normal 12px Verdana, Arial, Helvetica, sans-serif;}
.kelsoftballcharts td a img {text-decoration: none; color: #000000; border:1px solid #FFFFFF;}
.kelsoftballcharts td a:visited img {text-decoration: none; color: #000000; border:1px solid #FFFFFF;}
.kelsoftballcharts td a:hover img {text-decoration: none; color: #FFFFFF; border:1px solid #000000;}
</style>
<!-- Softball Stats By Kelly - (KELStats / KELSoft / Kelly Lamb Software) -->
<table cellpadding='0' cellspacing='0' style='margin:15px 0 0 0;'>
<tr>
<td valign='top'>
<table width='200' class='kelsoftballstats' border='1'>
<tr><th class='subhead' nowrap='nowrap'>Players</th></tr>
<tr><th class='subhead' nowrap='nowrap'>&nbsp;</th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_99.html'>Ashley (Smash)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_20.html'>Briana (Bri)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_21.html'>Christabel (DespicaBELLE)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_22.html'>Courtney (Spinnerz)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_7.html'>Haley (Baby Bear)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_32.html'>Justina (Peko)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_29.html'>Kaitlyn (Boggs)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_00.html'>Luci (Animal)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_48.html'>Nicole (Nicky)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_2.html'>Rachel (Cleat)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_15.html'>Sabrina (Superstar)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_27.html'>Victoria (Little Vickers)</a></th></tr>
<tr><th class='subhead' nowrap='nowrap'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_Totals.html'>Totals</a></th></tr>
</table>
</td>
<td valign='top'>
<div style='overflow-x:auto; overflow-y:hidden; width: 700px;' class='iepadding111'>
<table class='kelsoftballstats' border='1' width='98%'>
<thead>
<tr>
<th colspan=17 nowrap='nowrap'>Batting</th>
<th colspan=24 nowrap='nowrap'>Batting Results</th>
<th colspan=5 nowrap='nowrap'>Fielding</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
<tr>
<th nowrap='nowrap'>GP</th>
<th nowrap='nowrap'>GS</th>
<th nowrap='nowrap'>PA</th>
<th nowrap='nowrap'>1B</th>
<th nowrap='nowrap'>2B</th>
<th nowrap='nowrap'>3B</th>
<th nowrap='nowrap'>HR</th>
<th nowrap='nowrap'>ROE</th>
<th nowrap='nowrap'>RFC</th>
<th nowrap='nowrap'>HBP</th>
<th nowrap='nowrap'>SF</th>
<th nowrap='nowrap'>SH</th>
<th nowrap='nowrap'>IBB</th>
<th nowrap='nowrap'>BB</th>
<th nowrap='nowrap'>FO</th>
<th nowrap='nowrap'>GO</th>
<th nowrap='nowrap'>K's</th>
<th nowrap='nowrap'>RBI</th>
<th nowrap='nowrap'>RUNS</th>
<th nowrap='nowrap'>SB</th>
<th nowrap='nowrap'>SBA</th>
<th nowrap='nowrap'>GDP</th>
<th nowrap='nowrap'>LOB</th>
<th nowrap='nowrap'>AB</th>
<th nowrap='nowrap'>H</th>
<th nowrap='nowrap'>TB</th>
<th nowrap='nowrap'>BB%</th>
<th nowrap='nowrap'>K%</th>
<th nowrap='nowrap'>BA</th>
<th nowrap='nowrap'>OB%</th>
<th nowrap='nowrap'>SLG%</th>
<th nowrap='nowrap'>Hit
Rank</th>
<th nowrap='nowrap'>2B
Rank</th>
<th nowrap='nowrap'>3B
Rank</th>
<th nowrap='nowrap'>HR
Rank</th>
<th nowrap='nowrap'>BB
Rank</th>
<th nowrap='nowrap'>Ks
Rank</th>
<th nowrap='nowrap'>BA
Rank</th>
<th nowrap='nowrap'>OB
Rank</th>
<th nowrap='nowrap'>SLG
Rank</th>
<th nowrap='nowrap'>Over
All</th>
<th nowrap='nowrap'>PO</th>
<th nowrap='nowrap'>A</th>
<th nowrap='nowrap'>E</th>
<th nowrap='nowrap'>FLD%</th>
<th nowrap='nowrap'>FLD Rank</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td>5</td>
<td>5</td>
<td>17</td>
<td>2</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>3</td>
<td>&nbsp;</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>6</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>10</td>
<td>3</td>
<td>4</td>
<td>0.353</td>
<td>0.200</td>
<td>0.300</td>
<td>0.588</td>
<td>0.400</td>
<td>1</td>
<td>1</td>
<td>4</td>
<td>1</td>
<td>1</td>
<td>6</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>28</td>
<td>3</td>
<td>5</td>
<td>0.861</td>
<td>4</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>&nbsp;</td>
<td>18</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>7</td>
<td>5</td>
<td>3</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>&nbsp;</td>
<td>3</td>
<td>15</td>
<td>1</td>
<td>1</td>
<td>0.111</td>
<td>0.333</td>
<td>0.067</td>
<td>0.176</td>
<td>0.067</td>
<td>12</td>
<td>6</td>
<td>4</td>
<td>1</td>
<td>5</td>
<td>9</td>
<td>9</td>
<td>9</td>
<td>9</td>
<td>11</td>
<td>&nbsp;</td>
<td>1</td>
<td>&nbsp;</td>
<td>1.000</td>
<td>1</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>4</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>7</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>5</td>
<td>6</td>
<td>4</td>
<td>1</td>
<td>8</td>
<td>1</td>
<td>10</td>
<td>10</td>
<td>10</td>
<td>8</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1.000</td>
<td>1</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>5</td>
<td>15</td>
<td>4</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>4</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>4</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>2</td>
<td>15</td>
<td>5</td>
<td>6</td>
<td>&nbsp;</td>
<td>0.067</td>
<td>0.333</td>
<td>0.333</td>
<td>0.400</td>
<td>1</td>
<td>1</td>
<td>4</td>
<td>1</td>
<td>8</td>
<td>3</td>
<td>1</td>
<td>5</td>
<td>2</td>
<td>2</td>
<td>26</td>
<td>&nbsp;</td>
<td>3</td>
<td>0.897</td>
<td>3</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>5</td>
<td>16</td>
<td>4</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>5</td>
<td>1</td>
<td>4</td>
<td>3</td>
<td>3</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>3</td>
<td>15</td>
<td>5</td>
<td>6</td>
<td>0.062</td>
<td>0.267</td>
<td>0.333</td>
<td>0.375</td>
<td>0.400</td>
<td>8</td>
<td>1</td>
<td>4</td>
<td>1</td>
<td>6</td>
<td>7</td>
<td>1</td>
<td>3</td>
<td>2</td>
<td>5</td>
<td>6</td>
<td>10</td>
<td>3</td>
<td>0.842</td>
<td>6</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>5</td>
<td>15</td>
<td>2</td>
<td>&nbsp;</td>
<td>1</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>5</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td>3</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>2</td>
<td>15</td>
<td>3</td>
<td>5</td>
<td>&nbsp;</td>
<td>0.133</td>
<td>0.200</td>
<td>0.200</td>
<td>0.333</td>
<td>5</td>
<td>6</td>
<td>1</td>
<td>1</td>
<td>8</td>
<td>5</td>
<td>6</td>
<td>8</td>
<td>6</td>
<td>6</td>
<td>4</td>
<td>6</td>
<td>7</td>
<td>0.588</td>
<td>10</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>5</td>
<td>14</td>
<td>1</td>
<td>&nbsp;</td>
<td>1</td>
<td>&nbsp;</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>3</td>
<td>2</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>4</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>2</td>
<td>10</td>
<td>2</td>
<td>4</td>
<td>0.214</td>
<td>0.100</td>
<td>0.200</td>
<td>0.357</td>
<td>0.400</td>
<td>3</td>
<td>6</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>4</td>
<td>6</td>
<td>4</td>
<td>2</td>
<td>4</td>
<td>4</td>
<td>3</td>
<td>3</td>
<td>0.700</td>
<td>7</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>2</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1.000</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>9</td>
<td>6</td>
<td>4</td>
<td>1</td>
<td>8</td>
<td>12</td>
<td>10</td>
<td>10</td>
<td>10</td>
<td>12</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>12</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>5</td>
<td>17</td>
<td>4</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>5</td>
<td>2</td>
<td>5</td>
<td>3</td>
<td>1</td>
<td>2</td>
<td>2</td>
<td>&nbsp;</td>
<td>3</td>
<td>16</td>
<td>4</td>
<td>4</td>
<td>0.059</td>
<td>0.312</td>
<td>0.250</td>
<td>0.294</td>
<td>0.250</td>
<td>11</td>
<td>6</td>
<td>4</td>
<td>1</td>
<td>7</td>
<td>8</td>
<td>4</td>
<td>7</td>
<td>7</td>
<td>8</td>
<td>4</td>
<td>2</td>
<td>5</td>
<td>0.545</td>
<td>11</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>5</td>
<td>19</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>6</td>
<td>1</td>
<td>2</td>
<td>5</td>
<td>2</td>
<td>6</td>
<td>3</td>
<td>3</td>
<td>&nbsp;</td>
<td>5</td>
<td>13</td>
<td>3</td>
<td>6</td>
<td>0.316</td>
<td>0.385</td>
<td>0.231</td>
<td>0.474</td>
<td>0.462</td>
<td>4</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>11</td>
<td>5</td>
<td>2</td>
<td>1</td>
<td>3</td>
<td>6</td>
<td>5</td>
<td>2</td>
<td>0.846</td>
<td>5</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>5</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>5</td>
<td>6</td>
<td>4</td>
<td>1</td>
<td>8</td>
<td>1</td>
<td>10</td>
<td>10</td>
<td>10</td>
<td>8</td>
<td>6</td>
<td>1</td>
<td>4</td>
<td>0.636</td>
<td>9</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>5</td>
<td>19</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>4</td>
<td>3</td>
<td>3</td>
<td>5</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>3</td>
<td>&nbsp;</td>
<td>3</td>
<td>15</td>
<td>2</td>
<td>3</td>
<td>0.211</td>
<td>0.333</td>
<td>0.133</td>
<td>0.316</td>
<td>0.200</td>
<td>10</td>
<td>1</td>
<td>4</td>
<td>1</td>
<td>4</td>
<td>9</td>
<td>8</td>
<td>6</td>
<td>8</td>
<td>7</td>
<td>5</td>
<td>1</td>
<td>3</td>
<td>0.667</td>
<td>8</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td class=tot>5</td>
<td class=tot>5</td>
<td class=tot>152</td>
<td class=tot>20</td>
<td class=tot>5</td>
<td class=tot>3</td>
<td class=tot>&nbsp;</td>
<td class=tot>12</td>
<td class=tot>3</td>
<td class=tot>1</td>
<td class=tot>1</td>
<td class=tot>1</td>
<td class=tot>&nbsp;</td>
<td class=tot>23</td>
<td class=tot>26</td>
<td class=tot>25</td>
<td class=tot>32</td>
<td class=tot>19</td>
<td class=tot>29</td>
<td class=tot>10</td>
<td class=tot>12</td>
<td class=tot>&nbsp;</td>
<td class=tot>31</td>
<td class=tot>126</td>
<td class=tot>28</td>
<td class=tot>39</td>
<td class=tot>0.151</td>
<td class=tot>0.254</td>
<td class=tot>0.222</td>
<td class=tot>0.344</td>
<td class=tot>0.310</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>L2H</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>L2H</td>
<td class=tot>91</td>
<td class=tot>32</td>
<td class=tot>35</td>
<td class=tot>0.778</td>
<td class=tot>H2L</td>
<td class=gray>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</table>
<p>

<table cellpadding='0' cellspacing='0' style='margin:15px 0 0 0;'>
<tr>
<td valign='top'>
<table width='200' class='kelsoftballstats' border='1'>
<tr><th class='subhead' nowrap='nowrap'>Pitchers</th></tr>
<tr><th class='subhead' nowrap='nowrap'>&nbsp;</th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_22.html'>Courtney (Spinnerz)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_7.html'>Haley (Baby Bear)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_29.html'>Kaitlyn (Boggs)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_00.html'>Luci (Animal)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_48.html'>Nicole (Nicky)</a></th></tr>
<tr><th class='subhead' nowrap='nowrap'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_Totals.html'>Totals</a></th></tr>
</table>
</td>
<td valign='top'>
<div style='overflow-x:auto; overflow-y:hidden; width: 700px;' class='iepadding111'>
<table class='kelsoftballstats' border='1' width='98%'>
<thead>
<tr>
<th colspan=24 nowrap='nowrap'>Pitching</th>
<th colspan=8 nowrap='nowrap'>Pitching Results</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
<tr>
<th nowrap='nowrap'>APP</th>
<th nowrap='nowrap'>Won</th>
<th nowrap='nowrap'>Loss</th>
<th nowrap='nowrap'>Save</th>
<th nowrap='nowrap'>GS</th>
<th nowrap='nowrap'>CG</th>
<th nowrap='nowrap'>SHO</th>
<th nowrap='nowrap'>CBO</th>
<th nowrap='nowrap'>BF</th>
<th nowrap='nowrap'>IP</th>
<th nowrap='nowrap'>B's</th>
<th nowrap='nowrap'>S's</th>
<th nowrap='nowrap'>Hits</th>
<th nowrap='nowrap'>2B</th>
<th nowrap='nowrap'>3B</th>
<th nowrap='nowrap'>HR</th>
<th nowrap='nowrap'>SFA</th>
<th nowrap='nowrap'>SHA</th>
<th nowrap='nowrap'>BB's</th>
<th nowrap='nowrap'>HBP</th>
<th nowrap='nowrap'>K's</th>
<th nowrap='nowrap'>WP</th>
<th nowrap='nowrap'>R</th>
<th nowrap='nowrap'>ER</th>
<th nowrap='nowrap'>TP</th>
<th nowrap='nowrap'>API</th>
<th nowrap='nowrap'>BB\K</th>
<th nowrap='nowrap'>ERA</th>
<th nowrap='nowrap'>BA\Pit</th>
<th nowrap='nowrap'>%S's</th>
<th nowrap='nowrap'>RAB</th>
<th nowrap='nowrap'>Rank</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>2</td>
<td>2</td>
<td>&nbsp;</td>
<td>3</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>117</td>
<td>24.33</td>
<td>164</td>
<td>277</td>
<td>22</td>
<td>6</td>
<td>1</td>
<td>&nbsp;</td>
<td>1</td>
<td>3</td>
<td>9</td>
<td>&nbsp;</td>
<td>24</td>
<td>1</td>
<td>24</td>
<td>9</td>
<td>441</td>
<td>18.12</td>
<td>0.375</td>
<td>2.589</td>
<td>0.212</td>
<td>0.628</td>
<td>31</td>
<td>2</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>3</td>
<td>&nbsp;</td>
<td>1</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>37</td>
<td>6.00</td>
<td>38</td>
<td>80</td>
<td>11</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>2</td>
<td>&nbsp;</td>
<td>4</td>
<td>&nbsp;</td>
<td>14</td>
<td>10</td>
<td>118</td>
<td>19.67</td>
<td>0.500</td>
<td>11.667</td>
<td>0.324</td>
<td>0.678</td>
<td>13</td>
<td>1</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td class=tot>5</td>
<td class=tot>2</td>
<td class=tot>3</td>
<td class=tot>&nbsp;</td>
<td class=tot>5</td>
<td class=tot>2</td>
<td class=tot>&nbsp;</td>
<td class=tot>&nbsp;</td>
<td class=tot>154</td>
<td class=tot>30.33</td>
<td class=tot>202</td>
<td class=tot>357</td>
<td class=tot>33</td>
<td class=tot>7</td>
<td class=tot>1</td>
<td class=tot>&nbsp;</td>
<td class=tot>1</td>
<td class=tot>4</td>
<td class=tot>11</td>
<td class=tot>&nbsp;</td>
<td class=tot>28</td>
<td class=tot>1</td>
<td class=tot>38</td>
<td class=tot>19</td>
<td class=tot>559</td>
<td class=tot>18.43</td>
<td class=tot>0.393</td>
<td class=tot>4.385</td>
<td class=tot>0.239</td>
<td class=tot>0.639</td>
<td class=tot>44</td>
<td class=tot>H2L</td>
<td class=gray>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</table>
<p>

<table cellpadding='0' cellspacing='0' style='margin:15px 0 0 0;'>
<tr>
<td valign='top'>
<table width='200' class='kelsoftballstats' border='1'>
<tr><th class='subhead' nowrap='nowrap'>Catchers</th></tr>
<tr><th class='subhead' nowrap='nowrap'>&nbsp;</th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_99.html'>Ashley (Smash)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_21.html'>Christabel (DespicaBELLE)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_29.html'>Kaitlyn (Boggs)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_27.html'>Victoria (Little Vickers)</a></th></tr>
<tr><th class='subhead' nowrap='nowrap'><a title='Individual Game Statistics' href='PlayerStats\Tournament7\player_Totals.html'>Totals</a></th></tr>
</table>
</td>
<td valign='top'>
<div style='overflow-x:auto; overflow-y:hidden; width: 700px;' class='iepadding111'>
<table class='kelsoftballstats' border='1' width='98%'>
<thead>
<tr>
<th colspan=12 nowrap='nowrap'>Catching</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
<tr>
<th nowrap='nowrap'>BF</th>
<th nowrap='nowrap'>IC</th>
<th nowrap='nowrap'>TP</th>
<th nowrap='nowrap'>DB</th>
<th nowrap='nowrap'>WP</th>
<th nowrap='nowrap'>PB</th>
<th nowrap='nowrap'>D3</th>
<th nowrap='nowrap'>D3R</th>
<th nowrap='nowrap'>PO</th>
<th nowrap='nowrap'>APO</th>
<th nowrap='nowrap'>SB</th>
<th nowrap='nowrap'>Rank</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td>154</td>
<td>30.334</td>
<td>459</td>
<td>11</td>
<td>1</td>
<td>3</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>11</td>
<td>12</td>
<td>1</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td class=tot>154</td>
<td class=tot>30.33</td>
<td class=tot>459</td>
<td class=tot>11</td>
<td class=tot>1</td>
<td class=tot>3</td>
<td class=tot>1</td>
<td class=tot>1</td>
<td class=tot>1</td>
<td class=tot>11</td>
<td class=tot>12</td>
<td class=tot>H2L</td>
<td class=gray>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</table>
<p>

<p>
<table class="kelsoftballcharts" border="0" width="860">
<tbody>
<tr>
  <th colspan=3><a href="PlayerStats\Tournament7\category_leaders.html">Top Performers By Category</a></th>
</tr>
<tr>
  <th colspan=3>&nbsp;</th>
</tr>
<tr>
  <th>&nbsp;</th>
  <th>On Base Percentage Chart</th>
  <th>&nbsp;</th>
</tr>
<tr>
  <td width="217px">&nbsp;</td>
  <td><a href="Charts\Tournament7\ONBASE.png"><img src="Charts\Tournament7\ONBASE.png" width="426px" height="213px" /></a></td>
  <td width="217px">&nbsp;</td>
</tr>
</tbody>
</table>
<table class="kelsoftballcharts" border="0" width="860">
<tbody>
<tr>
  <th>Batting Average Chart</th>
  <th>Slugging Percentage Chart</th>
</tr>
<tr>
  <td><a href="Charts\Tournament7\BATAVG.png"><img src="Charts\Tournament7\BATAVG.png" width="426px" height="213px" /></a></td>
  <td><a href="Charts\Tournament7\SLUGGING.png"><img src="Charts\Tournament7\SLUGGING.png" width="426px" height="213px" /></a></td>
</tr>
</tbody>
</table>
<p>
<pre>Last Updated: Aug 12, 2011 23:58:11</pre>
<p>

