<style>
.iepadding111{padding-bottom:17px;}
.kelsoftballstats            {clear:both;border: 1px solid #000;border-collapse:collapse;}
.kelsoftballstats td         {height: 20px;text-align:center;font:normal 11px Verdana, Arial, Helvetica, sans-serif;border-collapse:collapse;border: 1px solid #000;padding: 0 3px; color: #000000; background: #FFCCCC;}
.kelsoftballstats td.gray    {height: 20px;text-align:center;font:normal 11px Verdana, Arial, Helvetica, sans-serif;border-collapse:collapse;border: 1px solid #000;padding: 0 3px; color: #404040; background: #404040;}
.kelsoftballstats td.tot     {height: 20px;text-align:center;font:normal 11px Verdana, Arial, Helvetica, sans-serif;border-collapse:collapse;border: 1px solid #000;padding: 0 3px; color: #FFFFFF; background: #800000;}
.kelsoftballstats th         {height: 20px;text-align:center;font:bold   11px Verdana, Arial, Helvetica, sans-serif;border-collapse:collapse;border: 1px solid #000;padding: 0 3px;  color: #FFFFFF; background: #800000;}
.kelsoftballstats th.subhead {height: 20px;text-align:right;font:bold 11px Verdana, Arial, Helvetica, sans-serif;text-transform:capitalize; color: #000000; background: #800000;}
.kelsoftballstats th.subhead a			{height: 20px;text-decoration: none; color: #000000;}
.kelsoftballstats th.subhead a:visited	{height: 20px;text-decoration: none; color: #000000;}
.kelsoftballstats th.subhead a:hover	{height: 20px;text-decoration: none; color: #FFFFFF;}
.kelsoftballcharts th				{height: 20px;text-align:center;font:normal 11px Verdana, Arial, Helvetica, sans-serif;}
.kelsoftballcharts td a img			{text-decoration: none; color: #000000; border:1px solid #FFFFFF;}
.kelsoftballcharts td a:visited img	{text-decoration: none; color: #000000; border:1px solid #FFFFFF;}
.kelsoftballcharts td a:hover img	{text-decoration: none; color: #FFFFFF; border:1px solid #000000;}
</style>
<!-- Softball Stats By Kelly - (KELStats / KELSoft / Kelly Lamb Software) -->
<table cellpadding='0' cellspacing='0' style='margin:15px 0 0 0;'>
<tr>
<td valign='top'>
<table width='200' class='kelsoftballstats' border='1'>
<tr><th class='subhead' nowrap='nowrap'>Players</th></tr>
<tr><th class='subhead' nowrap='nowrap'>&nbsp;</th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_99.html'>Ashley (Smash)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_20.html'>Briana (Bri)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_21.html'>Christabel (DespicaBELLE)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_22.html'>Courtney (Spinnerz)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_7.html'>Haley (Baby Bear)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_32.html'>Justina (Peko)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_29.html'>Kaitlyn (Boggs)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_00.html'>Luci (Animal)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_48.html'>Nicole (Nicky)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_2.html'>Rachel (Cleat)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_15.html'>Sabrina (Superstar)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_27.html'>Victoria (Little Vickers)</a></th></tr>
<tr><th class='subhead' nowrap='nowrap'><a title='Individual Game Statistics' href='PlayerStats/player_Totals.html'>Totals</a></th></tr>
</table>
</td>
<td valign='top'>
<div style='overflow-x:auto; overflow-y:hidden; width: 700px;' class='iepadding111'>
<table class='kelsoftballstats' border='1' width='98%'>
<thead>
<tr>
<th colspan=17 nowrap='nowrap'>Batting</th>
<th colspan=24 nowrap='nowrap'>Batting Results</th>
<th colspan=5 nowrap='nowrap'>Fielding</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
<tr>
<th nowrap='nowrap'>GP</th>
<th nowrap='nowrap'>GS</th>
<th nowrap='nowrap'>PA</th>
<th nowrap='nowrap'>1B</th>
<th nowrap='nowrap'>2B</th>
<th nowrap='nowrap'>3B</th>
<th nowrap='nowrap'>HR</th>
<th nowrap='nowrap'>ROE</th>
<th nowrap='nowrap'>RFC</th>
<th nowrap='nowrap'>HBP</th>
<th nowrap='nowrap'>SF</th>
<th nowrap='nowrap'>SH</th>
<th nowrap='nowrap'>IBB</th>
<th nowrap='nowrap'>BB</th>
<th nowrap='nowrap'>FO</th>
<th nowrap='nowrap'>GO</th>
<th nowrap='nowrap'>K's</th>
<th nowrap='nowrap'>RBI</th>
<th nowrap='nowrap'>RUNS</th>
<th nowrap='nowrap'>SB</th>
<th nowrap='nowrap'>SBA</th>
<th nowrap='nowrap'>GDP</th>
<th nowrap='nowrap'>LOB</th>
<th nowrap='nowrap'>AB</th>
<th nowrap='nowrap'>H</th>
<th nowrap='nowrap'>TB</th>
<th nowrap='nowrap'>BB%</th>
<th nowrap='nowrap'>K%</th>
<th nowrap='nowrap'>BA</th>
<th nowrap='nowrap'>OB%</th>
<th nowrap='nowrap'>SLG%</th>
<th nowrap='nowrap'>Hit 
Rank</th>
<th nowrap='nowrap'>2B 
Rank</th>
<th nowrap='nowrap'>3B 
Rank</th>
<th nowrap='nowrap'>HR
Rank</th>
<th nowrap='nowrap'>BB 
Rank</th>
<th nowrap='nowrap'>Ks 
Rank</th>
<th nowrap='nowrap'>BA 
Rank</th>
<th nowrap='nowrap'>OB 
Rank</th>
<th nowrap='nowrap'>SLG
Rank</th>
<th nowrap='nowrap'>Over
All</th>
<th nowrap='nowrap'>PO</th>
<th nowrap='nowrap'>A</th>
<th nowrap='nowrap'>E</th>
<th nowrap='nowrap'>FLD%</th>
<th nowrap='nowrap'>FLD Rank</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td>30</td>
<td>30</td>
<td>79</td>
<td>17</td>
<td>5</td>
<td>1</td>
<td>&nbsp;</td>
<td>5</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>17</td>
<td>12</td>
<td>9</td>
<td>9</td>
<td>16</td>
<td>5</td>
<td>2</td>
<td>2</td>
<td>&nbsp;</td>
<td>9</td>
<td>59</td>
<td>23</td>
<td>30</td>
<td>0.215</td>
<td>0.153</td>
<td>0.390</td>
<td>0.532</td>
<td>0.508</td>
<td>3</td>
<td>2</td>
<td>3</td>
<td>5</td>
<td>3</td>
<td>6</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>3</td>
<td>111</td>
<td>12</td>
<td>11</td>
<td>0.918</td>
<td>2</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>29</td>
<td>1</td>
<td>73</td>
<td>14</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>2</td>
<td>4</td>
<td>2</td>
<td>&nbsp;</td>
<td>7</td>
<td>&nbsp;</td>
<td>8</td>
<td>11</td>
<td>12</td>
<td>12</td>
<td>15</td>
<td>9</td>
<td>6</td>
<td>7</td>
<td>&nbsp;</td>
<td>22</td>
<td>56</td>
<td>15</td>
<td>16</td>
<td>0.110</td>
<td>0.214</td>
<td>0.268</td>
<td>0.379</td>
<td>0.286</td>
<td>8</td>
<td>6</td>
<td>8</td>
<td>5</td>
<td>8</td>
<td>10</td>
<td>6</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>5</td>
<td>2</td>
<td>1</td>
<td>0.875</td>
<td>5</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>29</td>
<td>2</td>
<td>24</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>1</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>3</td>
<td>2</td>
<td>7</td>
<td>5</td>
<td>&nbsp;</td>
<td>17</td>
<td>11</td>
<td>16</td>
<td>&nbsp;</td>
<td>14</td>
<td>18</td>
<td>2</td>
<td>2</td>
<td>0.125</td>
<td>0.278</td>
<td>0.111</td>
<td>0.273</td>
<td>0.111</td>
<td>10</td>
<td>10</td>
<td>8</td>
<td>5</td>
<td>7</td>
<td>12</td>
<td>12</td>
<td>11</td>
<td>12</td>
<td>12</td>
<td>2</td>
<td>&nbsp;</td>
<td>1</td>
<td>0.667</td>
<td>12</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>27</td>
<td>26</td>
<td>63</td>
<td>14</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>1</td>
<td>5</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>3</td>
<td>18</td>
<td>16</td>
<td>4</td>
<td>10</td>
<td>7</td>
<td>4</td>
<td>4</td>
<td>&nbsp;</td>
<td>14</td>
<td>60</td>
<td>16</td>
<td>19</td>
<td>0.048</td>
<td>0.067</td>
<td>0.267</td>
<td>0.302</td>
<td>0.317</td>
<td>6</td>
<td>6</td>
<td>3</td>
<td>5</td>
<td>12</td>
<td>2</td>
<td>7</td>
<td>10</td>
<td>6</td>
<td>7</td>
<td>135</td>
<td>3</td>
<td>5</td>
<td>0.965</td>
<td>1</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>30</td>
<td>27</td>
<td>78</td>
<td>20</td>
<td>2</td>
<td>1</td>
<td>&nbsp;</td>
<td>3</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>12</td>
<td>16</td>
<td>10</td>
<td>13</td>
<td>17</td>
<td>15</td>
<td>10</td>
<td>11</td>
<td>&nbsp;</td>
<td>15</td>
<td>66</td>
<td>23</td>
<td>27</td>
<td>0.154</td>
<td>0.197</td>
<td>0.348</td>
<td>0.449</td>
<td>0.409</td>
<td>5</td>
<td>3</td>
<td>3</td>
<td>5</td>
<td>6</td>
<td>9</td>
<td>5</td>
<td>4</td>
<td>5</td>
<td>4</td>
<td>13</td>
<td>42</td>
<td>7</td>
<td>0.887</td>
<td>3</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>27</td>
<td>23</td>
<td>73</td>
<td>22</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>6</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>8</td>
<td>15</td>
<td>9</td>
<td>7</td>
<td>7</td>
<td>23</td>
<td>12</td>
<td>15</td>
<td>&nbsp;</td>
<td>14</td>
<td>65</td>
<td>26</td>
<td>34</td>
<td>0.110</td>
<td>0.108</td>
<td>0.400</td>
<td>0.466</td>
<td>0.523</td>
<td>2</td>
<td>6</td>
<td>2</td>
<td>1</td>
<td>8</td>
<td>3</td>
<td>1</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>14</td>
<td>22</td>
<td>11</td>
<td>0.766</td>
<td>10</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>30</td>
<td>30</td>
<td>75</td>
<td>11</td>
<td>&nbsp;</td>
<td>1</td>
<td>&nbsp;</td>
<td>3</td>
<td>2</td>
<td>4</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>12</td>
<td>19</td>
<td>14</td>
<td>8</td>
<td>7</td>
<td>15</td>
<td>6</td>
<td>8</td>
<td>&nbsp;</td>
<td>15</td>
<td>58</td>
<td>12</td>
<td>14</td>
<td>0.160</td>
<td>0.138</td>
<td>0.207</td>
<td>0.373</td>
<td>0.241</td>
<td>12</td>
<td>10</td>
<td>3</td>
<td>5</td>
<td>5</td>
<td>4</td>
<td>9</td>
<td>9</td>
<td>10</td>
<td>9</td>
<td>34</td>
<td>39</td>
<td>18</td>
<td>0.802</td>
<td>8</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>24</td>
<td>18</td>
<td>50</td>
<td>6</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>2</td>
<td>3</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>4</td>
<td>18</td>
<td>8</td>
<td>7</td>
<td>3</td>
<td>8</td>
<td>2</td>
<td>2</td>
<td>&nbsp;</td>
<td>10</td>
<td>46</td>
<td>8</td>
<td>10</td>
<td>0.080</td>
<td>0.152</td>
<td>0.174</td>
<td>0.240</td>
<td>0.217</td>
<td>11</td>
<td>3</td>
<td>8</td>
<td>5</td>
<td>11</td>
<td>5</td>
<td>10</td>
<td>12</td>
<td>11</td>
<td>11</td>
<td>37</td>
<td>24</td>
<td>8</td>
<td>0.884</td>
<td>4</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>30</td>
<td>24</td>
<td>82</td>
<td>24</td>
<td>2</td>
<td>1</td>
<td>&nbsp;</td>
<td>5</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>8</td>
<td>16</td>
<td>12</td>
<td>12</td>
<td>20</td>
<td>17</td>
<td>8</td>
<td>9</td>
<td>&nbsp;</td>
<td>12</td>
<td>74</td>
<td>27</td>
<td>31</td>
<td>0.098</td>
<td>0.162</td>
<td>0.365</td>
<td>0.427</td>
<td>0.419</td>
<td>4</td>
<td>3</td>
<td>3</td>
<td>5</td>
<td>10</td>
<td>8</td>
<td>4</td>
<td>5</td>
<td>4</td>
<td>5</td>
<td>19</td>
<td>30</td>
<td>9</td>
<td>0.845</td>
<td>7</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>30</td>
<td>30</td>
<td>91</td>
<td>13</td>
<td>6</td>
<td>4</td>
<td>1</td>
<td>4</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>25</td>
<td>17</td>
<td>9</td>
<td>10</td>
<td>13</td>
<td>29</td>
<td>24</td>
<td>25</td>
<td>&nbsp;</td>
<td>21</td>
<td>64</td>
<td>24</td>
<td>41</td>
<td>0.275</td>
<td>0.156</td>
<td>0.375</td>
<td>0.560</td>
<td>0.641</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>7</td>
<td>3</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>43</td>
<td>12</td>
<td>9</td>
<td>0.859</td>
<td>6</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>30</td>
<td>29</td>
<td>23</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>5</td>
<td>4</td>
<td>9</td>
<td>&nbsp;</td>
<td>2</td>
<td>5</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>7</td>
<td>16</td>
<td>2</td>
<td>5</td>
<td>0.217</td>
<td>&nbsp;</td>
<td>0.125</td>
<td>0.391</td>
<td>0.312</td>
<td>7</td>
<td>10</td>
<td>8</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>11</td>
<td>6</td>
<td>7</td>
<td>6</td>
<td>18</td>
<td>4</td>
<td>10</td>
<td>0.688</td>
<td>11</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>30</td>
<td>30</td>
<td>91</td>
<td>14</td>
<td>1</td>
<td>&nbsp;</td>
<td>1</td>
<td>4</td>
<td>4</td>
<td>1</td>
<td>1</td>
<td>6</td>
<td>&nbsp;</td>
<td>16</td>
<td>15</td>
<td>13</td>
<td>15</td>
<td>8</td>
<td>21</td>
<td>22</td>
<td>26</td>
<td>&nbsp;</td>
<td>10</td>
<td>67</td>
<td>16</td>
<td>20</td>
<td>0.176</td>
<td>0.224</td>
<td>0.239</td>
<td>0.388</td>
<td>0.299</td>
<td>9</td>
<td>6</td>
<td>8</td>
<td>1</td>
<td>4</td>
<td>11</td>
<td>8</td>
<td>7</td>
<td>8</td>
<td>8</td>
<td>30</td>
<td>8</td>
<td>11</td>
<td>0.776</td>
<td>9</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td class=tot>30</td>
<td class=tot>30</td>
<td class=tot>802</td>
<td class=tot>158</td>
<td class=tot>21</td>
<td class=tot>11</td>
<td class=tot>4</td>
<td class=tot>38</td>
<td class=tot>24</td>
<td class=tot>14</td>
<td class=tot>3</td>
<td class=tot>15</td>
<td class=tot>&nbsp;</td>
<td class=tot>121</td>
<td class=tot>163</td>
<td class=tot>128</td>
<td class=tot>102</td>
<td class=tot>118</td>
<td class=tot>171</td>
<td class=tot>108</td>
<td class=tot>126</td>
<td class=tot>1</td>
<td class=tot>163</td>
<td class=tot>649</td>
<td class=tot>194</td>
<td class=tot>249</td>
<td class=tot>0.151</td>
<td class=tot>0.157</td>
<td class=tot>0.299</td>
<td class=tot>0.418</td>
<td class=tot>0.384</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>L2H</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>H2L</td>
<td class=tot>L2H</td>
<td class=tot>461</td>
<td class=tot>198</td>
<td class=tot>101</td>
<td class=tot>0.867</td>
<td class=tot>H2L</td>
<td class=gray>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</table>
<p>

<table cellpadding='0' cellspacing='0' style='margin:15px 0 0 0;'>
<tr>
<td valign='top'>
<table width='200' class='kelsoftballstats' border='1'>
<tr><th class='subhead' nowrap='nowrap'>Pitchers</th></tr>
<tr><th class='subhead' nowrap='nowrap'>&nbsp;</th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_22.html'>Courtney (Spinnerz)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_7.html'>Haley (Baby Bear)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_29.html'>Kaitlyn (Boggs)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_00.html'>Luci (Animal)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_48.html'>Nicole (Nicky)</a></th></tr>
<tr><th class='subhead' nowrap='nowrap'><a title='Individual Game Statistics' href='PlayerStats/player_Totals.html'>Totals</a></th></tr>
</table>
</td>
<td valign='top'>
<div style='overflow-x:auto; overflow-y:hidden; width: 700px;' class='iepadding111'>
<table class='kelsoftballstats' border='1' width='98%'>
<thead>
<tr>
<th colspan=24 nowrap='nowrap'>Pitching</th>
<th colspan=8 nowrap='nowrap'>Pitching Results</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
<tr>
<th nowrap='nowrap'>APP</th>
<th nowrap='nowrap'>Won</th>
<th nowrap='nowrap'>Loss</th>
<th nowrap='nowrap'>Save</th>
<th nowrap='nowrap'>GS</th>
<th nowrap='nowrap'>CG</th>
<th nowrap='nowrap'>SHO</th>
<th nowrap='nowrap'>CBO</th>
<th nowrap='nowrap'>BF</th>
<th nowrap='nowrap'>IP</th>
<th nowrap='nowrap'>B's</th>
<th nowrap='nowrap'>S's</th>
<th nowrap='nowrap'>Hits</th>
<th nowrap='nowrap'>2B</th>
<th nowrap='nowrap'>3B</th>
<th nowrap='nowrap'>HR</th>
<th nowrap='nowrap'>SFA</th>
<th nowrap='nowrap'>SHA</th>
<th nowrap='nowrap'>BB's</th>
<th nowrap='nowrap'>HBP</th>
<th nowrap='nowrap'>K's</th>
<th nowrap='nowrap'>WP</th>
<th nowrap='nowrap'>R</th>
<th nowrap='nowrap'>ER</th>
<th nowrap='nowrap'>TP</th>
<th nowrap='nowrap'>API</th>
<th nowrap='nowrap'>BB\K</th>
<th nowrap='nowrap'>ERA</th>
<th nowrap='nowrap'>BA\Pit</th>
<th nowrap='nowrap'>%S's</th>
<th nowrap='nowrap'>RAB</th>
<th nowrap='nowrap'>Rank</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td>3</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>30</td>
<td>4.00</td>
<td>40</td>
<td>64</td>
<td>14</td>
<td>&nbsp;</td>
<td>1</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>2</td>
<td>&nbsp;</td>
<td>4</td>
<td>16</td>
<td>12</td>
<td>8</td>
<td>104</td>
<td>26.00</td>
<td>0.500</td>
<td>14.000</td>
<td>0.500</td>
<td>0.615</td>
<td>16</td>
<td>1</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>23</td>
<td>12</td>
<td>9</td>
<td>1</td>
<td>18</td>
<td>12</td>
<td>1</td>
<td>&nbsp;</td>
<td>499</td>
<td>101.33</td>
<td>658</td>
<td>1081</td>
<td>113</td>
<td>18</td>
<td>2</td>
<td>1</td>
<td>2</td>
<td>5</td>
<td>47</td>
<td>6</td>
<td>79</td>
<td>40</td>
<td>85</td>
<td>48</td>
<td>1739</td>
<td>17.16</td>
<td>0.595</td>
<td>3.316</td>
<td>0.257</td>
<td>0.622</td>
<td>166</td>
<td>3</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>4</td>
<td>1.00</td>
<td>5</td>
<td>10</td>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>15</td>
<td>15.00</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>0.250</td>
<td>0.667</td>
<td>1</td>
<td>4</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>17</td>
<td>4</td>
<td>2</td>
<td>&nbsp;</td>
<td>10</td>
<td>5</td>
<td>2</td>
<td>&nbsp;</td>
<td>234</td>
<td>47.33</td>
<td>203</td>
<td>451</td>
<td>72</td>
<td>7</td>
<td>&nbsp;</td>
<td>3</td>
<td>&nbsp;</td>
<td>2</td>
<td>4</td>
<td>&nbsp;</td>
<td>18</td>
<td>12</td>
<td>47</td>
<td>29</td>
<td>654</td>
<td>13.82</td>
<td>0.222</td>
<td>4.289</td>
<td>0.316</td>
<td>0.690</td>
<td>76</td>
<td>2</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td class=tot>30</td>
<td class=tot>16</td>
<td class=tot>13</td>
<td class=tot>1</td>
<td class=tot>30</td>
<td class=tot>17</td>
<td class=tot>3</td>
<td class=tot>&nbsp;</td>
<td class=tot>767</td>
<td class=tot>153.66</td>
<td class=tot>906</td>
<td class=tot>1606</td>
<td class=tot>200</td>
<td class=tot>25</td>
<td class=tot>3</td>
<td class=tot>5</td>
<td class=tot>2</td>
<td class=tot>7</td>
<td class=tot>53</td>
<td class=tot>6</td>
<td class=tot>101</td>
<td class=tot>68</td>
<td class=tot>144</td>
<td class=tot>85</td>
<td class=tot>2512</td>
<td class=tot>16.35</td>
<td class=tot>0.525</td>
<td class=tot>3.872</td>
<td class=tot>0.286</td>
<td class=tot>0.639</td>
<td class=tot>259</td>
<td class=tot>H2L</td>
<td class=gray>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</table>
<p>

<table cellpadding='0' cellspacing='0' style='margin:15px 0 0 0;'>
<tr>
<td valign='top'>
<table width='200' class='kelsoftballstats' border='1'>
<tr><th class='subhead' nowrap='nowrap'>Catchers</th></tr>
<tr><th class='subhead' nowrap='nowrap'>&nbsp;</th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_99.html'>Ashley (Smash)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_21.html'>Christabel (DespicaBELLE)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_29.html'>Kaitlyn (Boggs)</a></th></tr>
<tr><th nowrap='nowrap' width='200' class='subhead'><a title='Individual Game Statistics' href='PlayerStats/player_27.html'>Victoria (Little Vickers)</a></th></tr>
<tr><th class='subhead' nowrap='nowrap'><a title='Individual Game Statistics' href='PlayerStats/player_Totals.html'>Totals</a></th></tr>
</table>
</td>
<td valign='top'>
<div style='overflow-x:auto; overflow-y:hidden; width: 700px;' class='iepadding111'>
<table class='kelsoftballstats' border='1' width='98%'>
<thead>
<tr>
<th colspan=12 nowrap='nowrap'>Catching</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
<tr>
<th nowrap='nowrap'>BF</th>
<th nowrap='nowrap'>IC</th>
<th nowrap='nowrap'>TP</th>
<th nowrap='nowrap'>DB</th>
<th nowrap='nowrap'>WP</th>
<th nowrap='nowrap'>PB</th>
<th nowrap='nowrap'>D3</th>
<th nowrap='nowrap'>D3R</th>
<th nowrap='nowrap'>PO</th>
<th nowrap='nowrap'>APO</th>
<th nowrap='nowrap'>SB</th>
<th nowrap='nowrap'>Rank</th>
<th nowrap='nowrap' width=700px>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td>755</td>
<td>151.66</td>
<td>2377</td>
<td>39</td>
<td>65</td>
<td>20</td>
<td>6</td>
<td>3</td>
<td>7</td>
<td>43</td>
<td>43</td>
<td>1</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td>12</td>
<td>2.00</td>
<td>35</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>2</td>
<td class=gray>&nbsp;</td>
</tr>
<tr>
<td class=tot>767</td>
<td class=tot>153.66</td>
<td class=tot>2412</td>
<td class=tot>39</td>
<td class=tot>65</td>
<td class=tot>20</td>
<td class=tot>6</td>
<td class=tot>3</td>
<td class=tot>7</td>
<td class=tot>43</td>
<td class=tot>44</td>
<td class=tot>H2L</td>
<td class=gray>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</table>
<p>

<p>
<table class="kelsoftballcharts" border="0" width="860">
<tbody>
<tr>
  <th colspan=3><a href="PlayerStats\category_leaders.html">Top Performers By Category</a></th>
</tr>
<tr>
  <th colspan=3>&nbsp;</th>
</tr>
<tr>
  <th>&nbsp;</th>
  <th>On Base Percentage Chart</th>
  <th>&nbsp;</th>
</tr>
<tr>
  <td width="217px">&nbsp;</td>
  <td><a href="Charts\ONBASE.png"><img src="Charts\ONBASE.png" width="426px" height="213px" /></a></td>
  <td width="217px">&nbsp;</td>
</tr>
</tbody>
</table>
<table class="kelsoftballcharts" border="0" width="860">
<tbody>
<tr>
  <th>Batting Average Chart</th>
  <th>Slugging Percentage Chart</th>
</tr>
<tr>
  <td><a href="Charts\BATAVG.png"><img src="Charts\BATAVG.png" width="426px" height="213px" /></a></td>
  <td><a href="Charts\SLUGGING.png"><img src="Charts\SLUGGING.png" width="426px" height="213px" /></a></td>
</tr>
</tbody>
</table>
<p>
<pre>Last Updated: Dec 21, 2016 22:30:54</pre>
<p>

