<style>
.td0 {padding:0px; margin: 0px; width: 75px;  height: 75px; border: 0px; font: normal normal 14px arial,sans-serif;}
.td1 {padding:0px; margin: 0px; width: 75px;  height: 75px; border: 1px solid black; font: normal normal 14px arial,sans-serif;}
.td2 {padding:0px 0px 0px 10px; margin: 0px; width: 225px; height: 75px; border: 1px solid black; font: normal normal 14px arial,sans-serif; text-align: left;}
.tt1 {padding:0px; margin: 0px; width: 675px; height: 30px; border: 1px solid black; font: normal bold   16px arial,sans-serif; text-align: center; color: white; background-color: #800000;}
.tt2 {padding:0px; margin: 0px; width: 675px; height: 30px; border: 1px solid black; font: normal bold   16px arial,sans-serif; text-align: center; color: white; background-color: #B00000;}
.tt3 {padding:0px; margin: 0px; width: 675px; height: 5px; border: 0px;}
.td1 a {padding:0px; margin: 0px; text-decoration: none; color: #FFFFFF; border:0px solid #000000; width: 75px; height: 75px;}
.td1 a img {padding:0px; margin: 0px; text-decoration: none; color: #FFFFFF; border:1px solid #000000; width: 75px; height: 75px;}
.td1 a:visited img {padding:0px; margin: 0px; text-decoration: none; color: #FFFFFF; border:1px solid #000000; width: 75px; height: 75px;}
.td1 a:hover img {padding:0px; margin: 0px; text-decoration: none; color: #000000; border:1px solid #FFFFFF; width: 75px; height: 75px;}
</style>
<center>
<table border=0>

<tr>
<td colspan=5 class=tt1>Impact All Stars 14U - 2011</td>
</tr>

<tr>
<td colspan=5 class=tt2>Team Roster</td>
</tr>

<tr>
<td colspan=5 class=tt3>&nbsp;</td>
</tr>

<tr>
<td class=td1><a href=PlayerStats/player_00.html><img src="./Roster/00.jpg" /></a></td>
<td class=td2>Number: 00<br>Name: Luci (Animal)<br>Bats/Throws: R/R</td>
<td class=td0>&nbsp;</td>
<td class=td1><a href=PlayerStats/player_22.html><img src="./Roster/22.jpg" /></a></td>
<td class=td2>Number: 22<br>Name: Courtney (Spinnerz)<br>Bats/Throws: R/R</td>
</tr>

<tr>
<td class=td1><a href=PlayerStats/player_2.html><img src="./Roster/02.jpg" /></a></td>
<td class=td2>Number: 2<br>Name: Rachel (Cleat)<br>Bats/Throws: L/L</td>
<td class=td0>&nbsp;</td>
<td class=td1><a href=PlayerStats/player_27.html><img src="./Roster/27.jpg" /></a></td>
<td class=td2>Number: 27<br>Name: Victoria (Little Vickers)<br>Bats/Throws: B/R</td>
</tr>

<tr>
<td class=td1><a href=PlayerStats/player_7.html><img src="./Roster/07.jpg" /></a></td>
<td class=td2>Number: 7<br>Name: Haley (Baby Bear)<br>Bats/Throws: R/R</td>
<td class=td0>&nbsp;</td>
<td class=td1><a href=PlayerStats/player_29.html><img src="./Roster/29.jpg" /></a></td>
<td class=td2>Number: 29<br>Name: Kaitlyn (Boggs)<br>Bats/Throws: R/R</td>
</tr>

<tr>
<td class=td1><a href=PlayerStats/player_15.html><img src="./Roster/15.jpg" /></a></td>
<td class=td2>Number: 15<br>Name: Sabrina (Superstar)<br>Bats/Throws: R/R</td>
<td class=td0>&nbsp;</td>
<td class=td1><a href=PlayerStats/player_32.html><img src="./Roster/32.jpg" /></a></td>
<td class=td2>Number: 32<br>Name: Justina (Peko)<br>Bats/Throws: R/R</td>
</tr>

<tr>
<td class=td1><a href=PlayerStats/player_20.html><img src="./Roster/20.jpg" /></a></td>
<td class=td2>Number: 20<br>Name: Briana (Bri)<br>Bats/Throws: R/R</td>
<td class=td0>&nbsp;</td>
<td class=td1><a href=PlayerStats/player_48.html><img src="./Roster/48.jpg" /></a></td>
<td class=td2>Number: 48<br>Name: Nicole (Nicky)<br>Bats/Throws: R/R</td>
</tr>

<tr>
<td class=td1><a href=PlayerStats/player_21.html><img src="./Roster/21.jpg" /></a></td>
<td class=td2>Number: 21<br>Name: Christabel (DespicaBELLE)<br>Bats/Throws: R/R</td>
<td class=td0>&nbsp;</td>
<td class=td1><a href=PlayerStats/player_99.html><img src="./Roster/99.jpg" /></a></td>
<td class=td2>Number: 99<br>Name: Ashley (Smash)<br>Bats/Throws: R/R</td>
</tr>

<tr>
<td colspan=5 class=tt3>&nbsp;</td>
</tr>

<tr>
<td colspan=5 class=tt2>Staff Roster</td>
</tr>

<tr>
<td colspan=5 class=tt3>&nbsp;</td>
</tr>

<tr>
<td class=td1><a href=#><img src="./Roster/bill.jpg" /></a></td>
<td class=td2>Name: Bill Mitchell<br>Title: Manager</td>
<td class=td0>&nbsp;</td>
<td class=td1><a href=#><img src="./Roster/elsa.jpg" /></a></td>
<td class=td2>Name: Elsa Barajas<br>Title: Team Mom</td>
</tr>

<tr>
<td class=td1><a href=#><img src="./Roster/george.jpg" /></a></td>
<td class=td2>Name: George Barajas<br>Title: Head Coach</td>
<td class=td0>&nbsp;</td>
<td class=td1><a href=#><img src="./Roster/deena.jpg" /></a></td>
<td class=td2>Name: Deena Lamb<br>Title: Score Keeper</td>
</tr>

<tr>
<td class=td1><a href=#><img src="./Roster/donald.jpg" /></a></td>
<td class=td2>Name: Donald Stefani<br>Title: Assistant Coach</td>
<td class=td0>&nbsp;</td>
<td class=td1><a href=#><img src="./Roster/kelly.jpg" /></a></td>
<td class=td2>Name: Kelly Lamb<br>Title: Stats - Web Guy</td>
</tr>

<tr>
<td class=td1><a href=#><img src="./Roster/jon.jpg" /></a></td>
<td class=td2>Name: Jon Flores<br>Title: Assistant Coach</td>
<td class=td0>&nbsp;</td>
<td class=td0>&nbsp;</td>
<td class=td0>&nbsp;</td>
</tr>

</table>
</center>
